@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-header {
  width: 100%;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}
